@import url("https://fonts.googleapis.com/css?family=Yantramanav");

body{
    font-family: 'Yantramanav', sans-serif;
    margin: 0;
    padding: 0;
    background: #FBFCFC;
}

.menu{
    background: #34495E;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
  
.menu-list{
    text-align: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;  
}
  
.menu-link{
    display: block;
    padding: 2rem 1.5rem;
  
    will-change: color;
    transition: color .25s ease-out;  
  
    font-weight: 700;
    color: #FBFCFC;
    text-decoration: none;
    text-transform: uppercase;
}

.menu:hover .menu-link:not(:hover){
    color: #AEB6BF;
}

.menu:hover .menu-link:hover{
    color: rgb(97, 218, 251);
}
  
.menu-logo{
    padding-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    margin-bottom: -2px;
}
  
@media (min-width: 601px){
  
    .menu-list{
        display: flex;  
    }
  
    .menu-item{
        flex-grow: 1;
    }
  
    .menu-link{
        position: relative;
        overflow: hidden;
    }
  
    .menu-link:before, .menu-link:after{
        content: "";
        width: 0;
        height: 3px;
        background-color: rgb(97, 218, 251);
        will-change: width;
        transition: width .05s ease-out;
        position: absolute;
        bottom: 0;
    }
  
    .menu-link:before{
        left: 50%;
        transform: translateX(-50%); 
    }
  
    .menu-link:after{
        right: 50%;
        transform: translateX(50%); 
    }
  
    .menu-link:hover:before, .menu-link:hover:after{
        width: 100%;
        transition-duration: .15s;
    }

    .menu-corner{
        width: 200px;
        margin-bottom: -5px;
    }
}
  
.box {
    background: white;
    margin: auto;
    margin-top: 5%;
    padding: 20px 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
  
.box:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid rgb(97, 218, 251);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  
.box h1 {
    text-transform: uppercase;
    border-bottom: 4px solid rgb(97, 218, 251);
    width: 275px;
}
  
.box p {
    text-align: justify;
}

.about-logo{
    width: 110px;
    float: right;
}
 
.effect .buttons {
    display: flex;
    justify-content: center;
}
  
.effect a {
    text-decoration: none !important;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
    color: #212121;
    border: 2px solid #212121;
}
  
.effect a i {
    position: relative;
    z-index: 3;
}
  
.effect a:last-child {
    margin-right: 0px;
}
  
.effect a:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
  
.effect a i {
    display: inline-block;
    vertical-align: middle;
}
  
.effect.varrius a {
    transition: all 0.2s linear 0s;
}
  
.effect.varrius a:after {
    content: "";
    display: block;
    width: 90%;
    height: 90%;
    top: -110%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: #212121;
    border-radius: 50%;
}
  
.effect.varrius a:hover {
    color: rgb(97, 218, 251);
}
  
.effect.varrius a:hover:after {
    top: 5%;
    transition: all 0.2s linear 0s;
}

.responsive-table{
    padding-inline-start: 0px;
}

.responsive-table li {
    border-radius: 3px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    color: #2C3E50;
}
 
.responsive-table .table-header {
    background-color: #34495E;
    color: #FBFCFC;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
}

.responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
}

.responsive-table .clmn-1 {
    flex-basis: 90%;
}

.responsive-table .clmn-2 {
    flex-basis: 10%;
}

@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
    }

    .responsive-table li {
        display: block;
    }

    .responsive-table .clmn {
        flex-basis: 100%;
    }

    .responsive-table .clmn {
        display: flex;
        padding: 10px 0;
    }

    .responsive-table .clmn:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

.circle-btn {
    width: 30px;
    height: 30px;
    outline: none;
    cursor: pointer;
    background: none;
    transition: .5s;
    font-size: 15px;
    border-radius: 50%;
    font-family: "Lato",sans-serif;
    text-align: center;
    margin: 4px;
}
  
.circle-btn svg{
    margin-top: 2px;
}
  
.circle-btn:hover {
    border: none;
    color: white;
    font-size: 20px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    margin-top: 0px;
    margin-bottom: 0px;
}
  
.circle-btn-success {
    border: 2px solid #2ECC71;
    color: #2ECC71;
}

.circle-btn-success:hover {
    background-color: #2ECC71;
    transition: all 0.3s ease-in-out;
}

.circle-btn-warning {
    border: 2px solid #F5B041;
    color: #F5B041;
}

.circle-btn-warning:hover {
    background-color: #F5B041;
    transition: all 0.3s ease-in-out;
}

.circle-btn-danger {
    border: 2px solid #EC7063;
    color: #EC7063;
}

.circle-btn-danger:hover {
    background-color: #EC7063;
    transition: all 0.3s ease-in-out;
}

.circle-btn-primary {
    border: 2px solid #3498DB;
    color: #3498DB;
}

.circle-btn-primary:hover {
    background-color: #3498DB;
    transition: all 0.3s ease-in-out;
}

.input-line {
    width: 100%;
    height: 110px;
    overflow: hidden;
    position: relative;
    margin-bottom: -20px;
}
  
.input-line label {
    position: absolute;
    top: 36.6666666667px;
    color: #808B96;
    font-size: 25px;
    cursor: text;
    transition: .25s ease;
}
  
.input-line input {
    display: block;
    width: 100%;
    padding-top: 36.6666666667px;
    border: none;
    border-radius: 0;
    color: #2C3E50;
    font-size: 25px;
    transition: .3s ease;
    background: #FBFCFC;
}
  
.input-line input:valid ~ label {
    top: 0;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}
  
.input-line input:focus {
    outline: none;
}
  
.input-line input:focus ~ label {
    top: 0;
    font-size: 20px;
    color: #3498DB;
}
  
.input-line input:focus ~ .bar:before {
    transform: translateX(0);
}
  
.input-line input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #333 inset;
    -webkit-box-shadow: 0 0 0px 1000px #333 inset;
    -webkit-text-fill-color: #FBFCFC !important;
}
  
.input-line .bar {
    background: #D5D8DC;
    content: '';
    width: 100%;
    height: 3px;
    transition: .3s ease;
    position: relative;
}
  
.input-line .bar:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 150%;
    background: #3498DB;
    transform: translateX(-100%);
} 

.draw-border {
    box-shadow: inset 0 0 0 4px #D5D8DC;
    color: #808B96;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
  
.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
  
.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
  
.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}
  
.draw-border:hover {
    color: #3498DB;
}
  
.draw-border:hover::before, .draw-border:hover::after {
    border-color: #3498DB;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
  
.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
  
.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}
  
.btn-border {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    letter-spacing: 0.05rem;
    width: 100%;
    margin-top: 28px;
    outline: none;
} 

.text-line{
    padding-right: 20px;
    padding-top: 10px;
}

.task-done{
    color: #ABB2B9;
    text-decoration: line-through;
}

@keyframes example {
    0%   {border-left: 2px solid #FBFCFC;}
    25%  {border-left: 3px solid rgb(177, 255, 255);}
    50%  {border-left: 4px solid rgb(147, 255, 255);}
    100% {border-left: 5px solid rgb(97, 218, 251);}
}
