@import url("https://fonts.googleapis.com/css?family=Yantramanav");

body{
    font-family: 'Yantramanav', sans-serif;
    margin: 0;
    padding: 0;
    background: #FBFCFC;
}

.menu{
    background: #34495E;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
  
.menu-list{
    text-align: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;  
}
  
.menu-link{
    display: block;
    padding: 2rem 1.5rem;
  
    will-change: color;
    transition: color .25s ease-out;  
  
    font-weight: 700;
    color: #FBFCFC;
    text-decoration: none;
    text-transform: uppercase;
}

.menu:hover .menu-link:not(:hover){
    color: #AEB6BF;
}

.menu:hover .menu-link:hover{
    color: rgb(97, 218, 251);
}
  
.menu-logo{
    padding-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    margin-bottom: -2px;
}
  
@media (min-width: 601px){
  
    .menu-list{
        display: flex;  
    }
  
    .menu-item{
        flex-grow: 1;
    }
  
    .menu-link{
        position: relative;
        overflow: hidden;
    }
  
    .menu-link:before, .menu-link:after{
        content: "";
        width: 0;
        height: 3px;
        background-color: rgb(97, 218, 251);
        will-change: width;
        transition: width .05s ease-out;
        position: absolute;
        bottom: 0;
    }
  
    .menu-link:before{
        left: 50%;
        transform: translateX(-50%); 
    }
  
    .menu-link:after{
        right: 50%;
        transform: translateX(50%); 
    }
  
    .menu-link:hover:before, .menu-link:hover:after{
        width: 100%;
        transition-duration: .15s;
    }

    .menu-corner{
        width: 200px;
        margin-bottom: -5px;
    }
}
  
.box {
    background: white;
    margin: auto;
    margin-top: 5%;
    padding: 20px 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
  
.box:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid rgb(97, 218, 251);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  
.box h1 {
    text-transform: uppercase;
    border-bottom: 4px solid rgb(97, 218, 251);
    width: 275px;
}
  
.box p {
    text-align: justify;
}

.about-logo{
    width: 110px;
    float: right;
}
 
.effect .buttons {
    display: flex;
    justify-content: center;
}
  
.effect a {
    text-decoration: none !important;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
    color: #212121;
    border: 2px solid #212121;
}
  
.effect a i {
    position: relative;
    z-index: 3;
}
  
.effect a:last-child {
    margin-right: 0px;
}
  
.effect a:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
  
.effect a i {
    display: inline-block;
    vertical-align: middle;
}
  
.effect.varrius a {
    transition: all 0.2s linear 0s;
}
  
.effect.varrius a:after {
    content: "";
    display: block;
    width: 90%;
    height: 90%;
    top: -110%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: #212121;
    border-radius: 50%;
}
  
.effect.varrius a:hover {
    color: rgb(97, 218, 251);
}
  
.effect.varrius a:hover:after {
    top: 5%;
    transition: all 0.2s linear 0s;
}

@keyframes example {
    0%   {border-left: 2px solid #FBFCFC;}
    25%  {border-left: 3px solid rgb(177, 255, 255);}
    50%  {border-left: 4px solid rgb(147, 255, 255);}
    100% {border-left: 5px solid rgb(97, 218, 251);}
}
